@import url("colors.css");
body{
    background-image: url("../images/gallery/street.jpg");
    background-position: center center; 
    background-size: cover; 
}
.container-form{
    background-color: rgba(153, 151, 148, 0.384);
    width: 50%;
    margin: auto;
    padding: 3px;
    justify-content: space-between;
    flex-direction: column;
    animation: slideUpY 1s ease-out;
}


.container-form img{
    width: 40%;
    height: 100%;
}

form{
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;

}
form div{
    flex-wrap: wrap;
    padding: 4px;
    margin: 2px;
}
.myCard{
    width: 100%;
    justify-content: space-between;
}
input{
    border: 2px solid var(--primary);
    animation: slideUpX 1.5s ease-out;
    width: 100%;

}

label{
    display: block;
    color: var(--primary);
    animation: slideUpX 1.5s ease-out;
}
#start-date, #end-date{
    display: block;
}
textarea{
    border: 2px solid var(--primary);
    width: 100%;
    animation: slideUpX 1.5s ease-out;
}
.card5 {
    gap: 15px;
    /* flex-direction: row; */

}
.card5 > input{
    border: 3px solid var(--primary);
    border-radius: 10px;
    transition: all 0.3s;
}
.card5 > input:hover{
    background-color: var(--primary);
    border: none;
}

/* animations */
@keyframes slideUpY {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUpX {
    from {
        transform: translatex(100%);
        opacity: 0;
    }
    to {
        transform: translatex(0);
        opacity: 1;
    }
}
@media screen and (max-width: 480px) {
 
    
    
  }